.location-text {
  margin-block: 18px 10px;

  font-family: var(--ion-font-family);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;

  text-align: center;
}

.location-text-detail {
  margin-block: 18px 10px;

  font-family: var(--ion-font-family);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;

  padding-block-start: 2rem;
  text-align: center;
}

/* IMAGES */
.card-image-client-list {
  object-fit: cover;
  object-position: 50% 90%;
  max-height: 10rem;
  width: 100%;
}

.card-image-vehicule-list {
  object-fit: cover;
  object-position: 50% 9%;
  max-height: 8rem;
  width: 100%;
}

.card-page-details-image {
  border-radius: 5px;
  object-fit: cover;
  max-height: 20rem;
  width: 100%;
}

/*  CUSTOM CARD  */
.custom-card-bottom-border {
  border-bottom: 1px solid gray;
  margin-block-end: 1rem;
}

.custom-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-inline-start: 8%;
  padding-bottom: 0.5rem;
  font-size: 16px;
  line-height: 1.4;
}

.custom-card-subtitle {
  font-size: 1rem;
}
.custom-card-client-subtitle {
  font-size: 0.85rem;
}

.card-list-custom-header {
  padding-inline: 20px;
  padding-block: 10px 5px;
}

.card-list-custom-header-content {
  display: flex;
  justify-content: space-around;
}

.custom-card-layout-button-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding-inline: 2rem;
  padding-block: 0.5rem;

  background-color: rgb(245, 245, 245);
}

.custom-card-location-title {
  font-size: 1.3rem;
}
