.vehicle-card-content {
  padding-inline-start: 20px;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
}

.custom-card-detail-subtitle {
  font-size: 1rem;
}

.card-list-custom-header {
  padding-inline: 20px;
  padding-block: 10px 5px;
}

.card-list-custom-header-content {
  display: flex;
  justify-content: space-around;
}

.location-text {
  margin-block: 18px 10px;

  font-family: var(--ion-font-family);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;

  padding-inline: 3rem;
}

.location-text-detail {
  margin-block: 18px 10px;

  font-family: var(--ion-font-family);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;

  padding-inline: 3rem;
  padding-block: 1rem;
}

.card-button-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding-inline: 2rem;
  padding-block: 0.5rem;

  background-color: rgb(245, 245, 245);
}

.card-image {
  object-fit: cover;
  max-height: 12rem;
  width: 100%;
}

.card-image-client {
  object-fit: cover;
  object-position: 50% 90%;
  max-height: 10rem;
  width: 100%;
}

.card-details-image {
  object-fit: cover;
  max-height: 20rem;
  width: 100%;
}

.card-image-list {
  object-fit: cover;
  object-position: 50% 9%;
  max-height: 8rem;
  width: 100%;
}
