ion-modal#modal-style {
  --border-radius: 16px;
}

.list-additional-style {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.center-button {
  display: grid;
  justify-content: center;
}

.disponible {
  color: rgb(30, 127, 3);
  font-weight: bold;
}
.loue {
  color: rgb(150, 24, 24);
  font-weight: bold;
}

.page-toolbar-bg-color {
  background-color: blue;
}

.testHeader {
  box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.074);
}
